*,
::after,
::before {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0px;
}

html,
body {
  position: relative;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  padding: 0.25rem 0.65rem;
}

#content {
  padding: 0.5rem;
}

form.login {
  align-self: center;
}

table.dataTable {
  margin: 0px !important;
  max-width: unset !important;
}

.dt {
  width: 100% !important;
  position: relative;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 0.2rem !important;
}

.dt[data-overflow="y"] {
  overflow: auto;
}

.dataTableContainer {
  padding: 0.5rem;
}

.dtToolBar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.8rem;
}

.dtToolBar > * {
  align-self: center;
  justify-self: center;
}

.dtToolBar > .dt-buttons > button {
  margin: 0px;
  padding: 0.25rem 0.65rem;
  border-radius: 0.5rem;
}

.dtInfo,
.dataTables_paginate,
.dtCustomFilter,
.dtToolBar > .dataTables_filter > label,
#moduleForms,
#moduleForms > button,
.modal.modalFilter [data-name="exportContainer"],
.modal.modalFilter [data-name="exportContainer"] > button > span,
.modal.modalFilter [data-name="filterCotainer"] fieldset > div,
.modal.modalFilter [data-name="addFilter"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
}

.dataTables_wrapper {
  width: 100%;
  padding: 0.5rem 1rem;
}

.dataTables_info,
.dataTables_filter input[type="search"] {
  margin: 0px !important;
  padding: 0px !important;
  float: unset;
  border: unset;
  text-decoration: none;
}

.dataTables_paginate img {
  height: auto;
  max-width: 1.8rem;
  cursor: pointer;
}

.dataTables_paginate > .previous img {
  transform: rotateY(180deg);
}

.dataTables_paginate input[type="text"] {
  padding: 0.25rem 0.35rem;
  width: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.5);
  text-align: center;
}

.dtCustomFilter {
  cursor: pointer;
  padding: 0.4rem 0.65rem;
  border-radius: 0.4rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  font-size: 0.75rem;
}

.dtCustomFilter:hover {
  background-color: #f0f0f0;
}

.dtCustomFilter img {
  height: auto;
  max-width: 1.5rem;
}

.dtToolBar > .dataTables_filter {
  grid-column: 1/3;
}
.dataTables_filter input[type="search"] {
  border: 1px solid #ced4da;
  padding: 0.25rem 0.5rem !important;
}

.dt tr.dtLoading > td > div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dtRowsActions {
  padding: 0.25rem 0.65rem;
}

.dtRowsActions .dropdown-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  row-gap: 0.2rem;
}

.dtRowsActions .dropdown-toggle > div {
  width: 0.3rem;
  height: 0.3rem;
  background-color: #0e64c5;
  border-radius: 50%;
  border: 0.05rem solid #227fe9;
}

.dtRowsActions .dropdown-toggle:after,
.dtRowsActions .dropdown-toggle:before {
  display: none;
}

.dtRowsActions .dropdown-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
}

.dt tr:not([class^="child"]):not(.dtLoading) {
  height: 3rem;
}

.dt > thead > tr {
  position: relative;
  color: rgba(0, 0, 0, 1);
  box-shadow: inset 0 -0.175rem 0 0 rgba(0, 0, 0, 0.175);
}

.dt > thead > tr > th {
  background-color: rgba(98, 182, 238, 0.678);
}

.dt > thead > tr > th:first-child {
  border-radius: 0.5rem 0 0 0;
}

.dt > thead > tr > th:last-child {
  border-radius: 0 0.5rem 0 0;
}

.dt > tbody > tr:last-child > td:last-child {
  border-radius: 0 0 0.5rem 0;
}

.dt > tbody > tr:last-child > td:first-child {
  border-radius: 0 0 0 0.5rem;
}

.dt > tbody > tr > td:first-child {
  border-left: 0.1rem solid rgba(98, 171, 231, 0.527);
}

.dt > tbody > tr > td:last-child {
  border-right: 0.1rem solid rgba(98, 171, 231, 0.527);
}

.dt > tbody > tr:last-child > td {
  border-bottom: 0.1rem solid rgba(98, 171, 231, 0.527);
}

.dt > tbody > tr.child:last-child > td {
  border-radius: 0 0 0.5rem 0.5rem;
}

.dt > tbody > tr.odd {
  background-color: rgba(228, 228, 228, 0.85);
}

.dt > tbody > tr:not(:last-child) {
  box-shadow: inset 0 -0.07rem 0 0 #cecece;
}

.dt > tbody > tr:not(.dtLoading):not(:last-child):hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  background-color: rgba(167, 171, 173, 0.5);
  z-index: 1;
}

.dt > tbody > tr:not(.dtLoading):last-child:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  background-color: rgba(167, 171, 173, 0.5);
  border-radius: 0 0 0.5rem 0.5rem;
  z-index: 1;
}

table.dt.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control,
table.dt.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control {
  padding-left: 40px;
}

table.dt.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
table.dt.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
  content: "";
  width: 1.85em;
  height: 1.85em;
  box-sizing: border-box;
  left: 20px;
  background-image: url(./find.png);
  background-size: 1.5em 1.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #00cc44;
  transform: translateX(-50%) translateY(-25%);
  border-radius: 0.4rem;
  transition: 0.3s ease all;
}

table.dt.dataTable.dtr-inline.collapsed
  > tbody
  > tr
  > td.dtr-control:hover:before,
table.dt.dataTable.dtr-inline.collapsed
  > tbody
  > tr
  > th.dtr-control:hover:before {
  background-color: #00ee63;
}

table.dt.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > td.dtr-control:before,
table.dt.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > th.dtr-control:before {
  background-color: #cc0000;
}

table.dt.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > td.dtr-control:hover:before,
table.dt.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > th.dtr-control:hover:before {
  background-color: #f70000;
}

table.dt tr.child div {
  padding: 0.25rem 0.45rem;
  margin: 0.25rem 0.45rem;
  border: 0.09rem solid #cecece;
  border-radius: 0.5rem;
}

.dtRowDetails tr:not(:last-child) {
  box-shadow: inset 0 -0.07rem 0 0 #cecece;
}

.dtRowDetails td {
  padding: 0.5rem;
  white-space: normal;
}

table.dataTable.no-footer {
  border-bottom: unset !important;
}
