*,
::after,
::before {
  box-sizing: border-box;
}

.dropdown-toggle::after {
  display: none;
}

:root {
  --protoss-pylon: #00a8ff;
  --periwinkle: #9c88ff;
  --rise-n-shine: #fbc531;
  --download-progress: #4cd137;
  --seabrook: #487eb0;
  --vanadyl-blue: #0097e6;
  --matt-purple: #8c7ae6;
  --nanohanacha-gold: #e1b12c;
  --skirret-green: #44bd32;
  --naval: #40739e;
  --nasturcian-flower: #e84118;
  --lynx-white: #f5f6fa;
  --blueberry-soda: #7f8fa6;
  --mazarine-blue: #273c75;
  --blue-nights: #353b48;
  --harley-davidson-orange: #c23616;
  --hint-of-pensive: #dcdde1;
  --chain-gang-grey: #718093;
  --pico-void: #192a56;
  --electromagnetic: #2f3640;
}

body,
p,
legend,
h1,
h2,
h3,
h4,
h5,
ul,
li {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  padding: 0.25rem 0.65rem;
}

#content {
  padding: 0.5rem;
}

form.login {
  align-self: center;
}

.dtToolBar > .dtInfo,
.dtToolBar > .dataTables_filter,
.dtToolBar > .dtAdd,
.dtToolBar > .dtFilters,
.dtToolBar > .dtExports,
.dtToolBar > .dtExports > .dropdown-toggle,
.dtToolBar > .dtExports > .dropdown-menu > button,
.dtToolBar > .dtExports > .dropdown-menu > button > span,
.dataTables_paginate,
.dtCustomFilter,
.dtToolBar > .dataTables_filter > label,
#moduleForms,
#moduleForms > button,
.modal.dtFilter [data-name="filterCotainer"] fieldset > div,
.modal.dtFilter [data-name="addFilter"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
}

table.dataTable {
  margin: 0px !important;
  max-width: unset !important;
  width: 100% !important;
}

.dt {
  position: relative;
  border-radius: 0.5rem;
  padding: 0rem !important;
}

.dataTables_wrapper[data-overflow="y"] > div:nth-child(2) {
  overflow-x: auto;
}

.dataTableContainer {
  padding: 0.5rem;
}

.dtToolBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--vanadyl-blue);
  row-gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  grid-template-areas:
    "info info info"
    "search search search"
    "btnAdd btnFilter btnExport";
  column-gap: 0.5rem;
}

.dtToolBar > .dtAdd > span,
.dtToolBar > .dtFilters > span,
.dtToolBar > .dtExports > .dropdown-toggle > span {
  display: none;
}

.dtToolBar > .dtInfo {
  grid-area: info;
  justify-content: space-between;
}

.dtToolBar > .dataTables_filter {
  grid-area: search;
}

.dtToolBar > .dtAdd {
  grid-area: btnAdd;
  justify-self: flex-end;
}

.dtToolBar > .dtFilters {
  grid-area: btnFilter;
  justify-self: center;
}

.dtToolBar > .dtExports {
  grid-area: btnExport;
  justify-self: flex-start;
}

.dtToolBar > .dataTables_filter {
  justify-content: center;
  margin: 0px;
  padding: 0.25rem 1rem;
}

.dataTables_wrapper .dtToolBar .dataTables_length select,
.dataTables_wrapper .dtToolBar .dataTables_filter input {
  background-color: rgba(255, 255, 255, 1);
}

.dataTables_wrapper .dtToolBar .dataTables_info,
.dataTables_wrapper .dtToolBar .dataTables_filter input {
  margin: 0px !important;
  padding: 0px !important;
  float: unset;
  border: unset;
  text-decoration: none;
}
.dataTables_wrapper .dtToolBar .dataTables_filter input {
  border: 0.075rem solid rgba(0, 0, 0, 0.5);
  padding: 0.15rem 0.5rem !important;
}

.dtToolBar > .dtAdd,
.dtToolBar > .dtFilters,
.dtToolBar > .dtExports {
  background-color: var(--lynx-white);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dtToolBar > .dtAdd > i {
  color: var(--skirret-green);
}

.dtToolBar > .dtFilters > i {
  color: var(--nasturcian-flower);
}

.dtToolBar > .dtExports > .dropdown-toggle > i {
  color: var(--pico-void);
}

.dtToolBar > .dtExports > .dropdown-menu > button {
  border: 0;
  background-color: transparent;
  background: unset;
  padding: 0.25rem 1rem;
}

.dataTables_wrapper .dataTables_paginate {
  margin-top: 0px;
  padding: 0px;
  padding-top: 0.5rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  margin: 0px;
  padding: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  border: 0;
  background: unset;
  background-color: var(--vanadyl-blue);
  color: var(--lynx-white) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border: 0;
  background: unset;
  background-color: var(--protoss-pylon);
}

.dataTables_filter input[type="search"] {
  border: 1px solid #ced4da;
  padding: 0.25rem 0.5rem !important;
}

.dt tr.dtLoading > td > div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dtRowsActions {
  padding: 0.25rem 0.65rem;
}

.dtRowsActions .dropdown-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  row-gap: 0.2rem;
}

.dtRowsActions .dropdown-toggle > div {
  width: 0.3rem;
  height: 0.3rem;
  background-color: #0e64c5;
  border-radius: 50%;
  border: 0.05rem solid #227fe9;
}

.dtRowsActions .dropdown-toggle:after,
.dtRowsActions .dropdown-toggle:before {
  display: none;
}

.dtRowsActions .dropdown-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
}

.dt tr:not([class^="child"]):not(.dtLoading) {
  height: 3rem;
}

.dt > thead > tr {
  position: relative;
  color: rgba(0, 0, 0, 1);
  box-shadow: inset 0 -0.175rem 0 0 rgba(0, 0, 0, 0.175);
}

.dt > thead > tr > th {
  background-color: var(--vanadyl-blue);
}

.dt > tbody > tr:last-child > td:last-child {
  border-radius: 0 0 0.5rem 0;
}

.dt > tbody > tr:last-child > td:first-child {
  border-radius: 0 0 0 0.5rem;
}

.dt > tbody > tr > td:first-child {
  border-left: 0.1rem solid var(--vanadyl-blue);
}

.dt > tbody > tr > td:last-child {
  border-right: 0.1rem solid var(--vanadyl-blue);
}

.dt > tbody > tr:last-child > td {
  border-bottom: 0.1rem solid var(--vanadyl-blue);
}

.dt > tbody > tr.child:last-child > td {
  border-radius: 0 0 0.5rem 0.5rem;
}

.dt > tbody > tr.odd {
  background-color: rgba(228, 228, 228, 0.85);
}

.dt > tbody > tr:not(:last-child) {
  box-shadow: inset 0 -0.07rem 0 0 #cecece;
}

.dt > tbody > tr:not(.dtLoading):not(:last-child):hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  background-color: rgba(167, 171, 173, 0.5);
  z-index: 1;
}

.dt > tbody > tr:not(.dtLoading):last-child:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  background-color: rgba(167, 171, 173, 0.5);
  border-radius: 0 0 0.5rem 0.5rem;
  z-index: 1;
}

table.dt.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control,
table.dt.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control {
  padding-left: 40px;
}

table.dt.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
table.dt.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
  content: "";
  width: 1.85em;
  height: 1.85em;
  box-sizing: border-box;
  left: 20px;
  background-image: url(./find.png);
  background-size: 1.5em 1.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #00cc44;
  transform: translateX(-50%) translateY(-25%);
  border-radius: 0.4rem;
  transition: 0.3s ease all;
}

table.dt.dataTable.dtr-inline.collapsed
  > tbody
  > tr
  > td.dtr-control:hover:before,
table.dt.dataTable.dtr-inline.collapsed
  > tbody
  > tr
  > th.dtr-control:hover:before {
  background-color: #00ee63;
}

table.dt.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > td.dtr-control:before,
table.dt.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > th.dtr-control:before {
  background-color: #cc0000;
}

table.dt.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > td.dtr-control:hover:before,
table.dt.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > th.dtr-control:hover:before {
  background-color: #f70000;
}

table.dt tr.child div {
  padding: 0.25rem 0.45rem;
  margin: 0.25rem 0.45rem;
  border: 0.09rem solid #cecece;
  border-radius: 0.5rem;
}

.dtRowDetails tr:not(:last-child) {
  box-shadow: inset 0 -0.07rem 0 0 #cecece;
}

.dtRowDetails td {
  padding: 0.5rem;
  white-space: normal;
}

table.dataTable.no-footer {
  border-bottom: unset !important;
}

.modal.dtFilter .modal-header > button,
.modal.dtFilter button[data-name="deleteField"],
.modal.dtFilter [data-name="addOperation"],
.modal.dtFilter [data-name="deleteOperation"] {
  font-size: 1.5rem;
  color: #e90707;
  border: 0px;
  border-radius: 0.5rem;
  padding: 0rem 0.65rem;
  background-color: #f5f5f5;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.25);
  transition: 0.3s ease all;
}

.modal.dtFilter [data-name="addOperation"],
.modal.dtFilter [data-name="deleteOperation"] {
  padding: 0rem 0.4rem;
}

.modal.dtFilter .modal-header > button:hover,
.modal.dtFilter button[data-name="deleteField"]:hover,
.modal.dtFilter [data-name="addOperation"]:hover,
.modal.dtFilter [data-name="deleteOperation"]:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal.dtFilter button[data-name="addOperation"] {
  color: rgb(35, 170, 35);
}

.modal.dtFilter [data-name="addFilter"] {
  font-weight: 600;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.modal.dtFilter [data-name="addFilter"] > i {
  font-size: 1.5rem;
  color: #06aa4a;
}

.modal.dtFilter .modal-body > fieldset > legend {
  height: 0px;
  float: unset;
  line-height: unset;
  width: 0px;
  padding: 0px;
}

.modal.dtFilter ul[data-name="filterCotainer"] > li {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1rem 0 1rem 0;
  border-radius: 0.5rem;
}

.modal.dtFilter fieldset:first-child,
.modal.dtFilter ul[data-name="filterCotainer"],
.modal.dtFilter ul[data-name="filterCotainer"] > li > fieldset,
.modal.dtFilter ul[data-name="fieldOperations"] {
  display: flex;
  flex-direction: column;
}

.modal.dtFilter .modal-body > fieldset,
.modal.dtFilter ul[data-name="filterCotainer"],
.modal.dtFilter ul[data-name="filterCotainer"] > li > fieldset {
  row-gap: 1rem;
}

.modal.dtFilter ul[data-name="filterCotainer"] > li > fieldset > legend {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1rem;
}

.modal.dtFilter ul[data-name="filterCotainer"] > li > fieldset > div {
  padding: 0 1rem;
}

.modal.dtFilter ul[data-name="fieldOperations"] {
  row-gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.modal.dtFilter ul[data-name="fieldOperations"] > li {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  grid-template-areas:
    "select button"
    "value value";
}

.modal.dtFilter ul[data-name="fieldOperations"] > li:not(:last-child) {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.modal.dtFilter ul[data-name="fieldOperations"] > li > select {
  grid-area: select;
}

.modal.dtFilter ul[data-name="fieldOperations"] > li > button {
  grid-area: button;
}

.modal.dtFilter ul[data-name="fieldOperations"] > li > input {
  grid-area: value;
}

@media screen and (min-width: 767px) {
  .dtToolBar {
    grid-template-columns: auto 1fr auto auto auto;
    row-gap: unset;
  }

  .dtToolBar > .dtAdd > span,
  .dtToolBar > .dtFilters > span,
  .dtToolBar > .dtExports > .dropdown-toggle > span {
    display: unset;
  }

  .dtToolBar > .dtInfo,
  .dtToolBar > .dataTables_filter,
  .dtToolBar > .dtAdd,
  .dtToolBar > .dtFilters,
  .dtToolBar > .dtExports {
    grid-area: unset;
  }

  .dtToolBar > .dtInfo {
    justify-content: unset;
  }

  .dtToolBar > .dtAdd,
  .dtToolBar > .dtFilters,
  .dtToolBar > .dtExports {
    justify-self: unset;
  }
}
